

.credits {
    margin-top: 40px;
   
    background-color: rgb(3, 87, 3);
    color: white;
}

.credits a {
    color: white;
    font-weight: bold;
}

.footer-copyright {
    margin-bottom: 40px;
}