
.title {
    height: 25vh;
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    height: 20vh;
    max-width: 90%;
    text-align: center;
    margin: auto;
}
.jumbotron {
    background-image: url(../hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    margin-top: 20px;
   }

a {
    color: darkgreen;
}

.social {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
}

.social a {
   margin-left:  10px;
}

.social-icon {
    size: 7px;
}

.warning {
    font-weight: bold;
}


.facebook:hover {
    background: #3b5998 !important
  }

  .twitter:hover {
    background: #00aced !important
  }

  @media only screen and (max-width: 760px) {


   .title {
       margin-top: 8px;
   }
   .subtitle {
      
       max-width: 80%;
    
   }
   .jumbotron {
       margin-top: 50px;
       height: 65vh;
       
   }
  }

  @media only screen and (max-width: 360px) {
    
   .title {
    margin-top: 8px;
    }
    .display-4 {
        font-size: 1.7rem;
    }
    .subtitle {
     
        width: 80%;
        margin: auto;
    }
    .subtitle p {
        font-size: 1rem;
    }
    .jumbotron {
        margin-top: 80px;
        height: 40vh;
        
    }
   
  }