.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card {
    box-sizing: border-box;
    border-radius: 2px;
    min-height:200px;
    padding: 10px;
    text-align: center;
  }

  
  .card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .card .card-image {
    position: relative;
    overflow: hidden;
  }
  
  .card .card-image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    z-index: -1;
  }
  
  .card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }
  
  .card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
  }
  
  .card .card-content p {
    margin: 0;
    color: inherit;
  }
  
  .card .card-content span.card-title {
    line-height: 38px;
  }

  .card .card-content p {
    margin: .25em;
    color: inherit;
  }

  .card .card-content p span {
    margin-left: .75em;

  }

  .card .card-content a {
    color: darkgreen;
    text-decoration: underline;
  }


  .card .card-content .phone {
    font-size: 16px;
  }
  
  .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
  }

  .gob p {
    text-align: center;
  }
  


  /* icons */

  .wa {
      color: green;
  }

  .map {
      color: red;
  }